@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&family=Prosto+One&display=swap');
body{
    background-color: #d8def5;
    margin: 0;
}
main{
    margin: 50px 60px 50px 60px;
    padding: 30px 30px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(117, 114, 114);
}
@media (max-width:768px){
    main{
        margin: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 10px 5px 5px rgb(117, 114, 114);
    }
}